body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 600px; /* Sesuaikan lebar card sesuai kebutuhan */
  max-width: 90%; /* Membatasi lebar maksimal card agar responsif */
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.back-button {
  position: absolute;
  top: 20px; /* Jarak dari atas */
  left: 20px; /* Jarak dari kiri */
  background-color: #007bff; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  padding: 10px 20px; /* Padding tombol */
  border-radius: 5px; /* Sudut melengkung tombol */
  text-decoration: none; /* Menghapus garis bawah */
  font-size: 16px; /* Ukuran font tombol */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efek bayangan tombol */
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.back-button:hover {
  background-color: #0056b3; /* Warna latar belakang saat hover */
}
